.menu-toolbar {
  background-color: var(--colors-primary-white);
  box-shadow: 0px 0px 5px 1px #b9b7b7;
  position: fixed;
  z-index: 100;
}
.logo-img, .cart-icon  {
  outline: none;
  cursor: pointer;
}
.logo-img {
  height: 50px;
}
.example-fill-remaining-space {
  flex: 1 1 auto;
}
.cart-icon {
  margin-right: 20px;
  color: var(--colors-primary-grey);
}
.products-container-wrapper {
  border-radius:20px;
}
