@import '../../../../styles.scss';

.body-wrapper {
  background-image: url(../../../../assets/background/background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.products-container-wrapper{
  margin: 20px;
  border-radius: 20px;
  min-height: 500px;
  background-color: $pureWhite;
}
.category-page-wrapper {
  .category-banner {
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner-skeleton {
    background-color: $skeletonGrey;
    border-radius:20px;
    height: 400px;
    width: 96%;
    margin: 20px;
  }
  .category-product-skeleton {
    border-radius: 20px;
    background-color: $pureWhite;
    width: 100%;
    margin: 20px 0px;
  }
}
