<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="gappx" class="body-wrapper">
  <div fxFlex.gt-sm="80" fxFlex.lt-md="100" class="products-container-wrapper">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="gappx">
      <div fxFlex.gt-sm="33" fxFlex.lt-md="50" fxFlex.xs="100" *ngFor="let i of productsObs$ | async">

        <ng-container *ngIf="productsObs$; else noDataTemp">
          <app-product [data]="i"></app-product>
        </ng-container>
        <ng-template #noDataTemp>
          <app-product *ngFor="let i of [].constructor(6)"></app-product>
        </ng-template>

      </div>
    </div>
  </div>
</div>
