<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="gappx" class="body-wrapper">
  <div fxFlex.gt-sm="80" fxFlex.lt-md="100" class="products-container-wrapper">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="gappx">
      <div fxFlex.gt-sm="33" fxFlex.lt-md="50" fxFlex.xs="100" *ngFor="let i of productsObs$ | async">
        <app-product [data]="i"></app-product>
      </div>
    </div>
    <!-- <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="gappx">
      <div fxFlex.gt-sm="50" fxFlex.lt-md="100">
        <button mat-flat-button color="accent" class="but-button" (click)="sharedService.clearBasket();">Clear
          Cart</button>
      </div>
    </div> -->

  </div>
</div>
