@import '../../../../styles';

.cart-review-wrapper {
  .cart-wrapper{
    margin: 0px 20px;
  }
  .cart-header {
    text-align: left;
    font-weight: 700;
    color: var(--colors-text-purple-dark);
    font-size:20px;
  }

  /* cart product start--------------- */
  .cart-product-img-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    .cart-product-img {
      max-width: 125px;
      border: 1px solid var(--colors-skeleton-grey);
      border-radius: 10px;
    }
  }
  .cart-product-details-wrapper {
    div {
      position: absolute;
      right: 9%;
      margin-top: 10px;
      mat-icon {
        color: #372953;
        font-size: 19px;
        cursor: pointer;
      }
    }
  }
  .cart-product-name {
    font-size: 18px;
    color: var(--colors-text-purple-dark);
    font-weight: 600;
  }
  .cart-product-price {
    font-size: 15px;
    font-weight: 600;
    color: var(--colors-text-purple);
  }
  /* cart product end --------------- */

  /* Skeleton Start --------------- */

  .skeleton-img, .skeleton-text {
    background-color: var(--colors-skeleton-grey);
    border-radius: 10px;
  }
  .skeleton-img {
    height: 70px;
    width: 80%;
  }
  .product-item {
    height: 110px;
    // background-color: #554;
    border-radius: 10px;
    margin: 20px 0px;
    box-shadow: $productShadow;

  }
  .skeleton-text {
    height: 10px;
    margin: 10px 0px;
  }
  .skeleton-text:nth-child(1) {
    width: 30%
  }
  .skeleton-text:nth-child(2) {
    width: 20%
  }
  .skeleton-text:nth-child(3) {
    width: 70%
  }
  /* Skeleton end   --------------- */


  /* Shipping Form Start --------------- */
  .shipping-form {
    div, mat-form-field {
      width: 100%;
    }
    div {
      margin-top: 20px;
    }
  }
  /* Shipping Form end   --------------- */
}

