@import url('https://fonts.googleapis.com/css?family=Abel|Open+Sans+Condensed:300,500,700&display=swap');

$productShadow: 0px 0px 5px 0px #ff8bb8;
$darkPink: #ce4e7b;
$pureWhite: #ffffff;
$purpleDark: #291748;
$primaryGrey: #8c8c8c;
$skeletonGrey: #f5f5f5;


:root {
  --colors-primary-white: #ffffff;
  --colors-primary-grey: #8c8c8c;
  --colors-text-purple: #443a77;
  --colors-text-purple-dark: #291748;
  --colors-skeleton-grey: #f5f5f5;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Abel', sans-serif;
  font-family: 'Open Sans Condensed', sans-serif; }
.body-wrapper {
  padding-top: 60px;
}
.custom-back-btn {
  margin: 20px 0px;
  width: 100%;
  color: #fff;
}
.btn-wrapper {
  text-align: center;
}

.featured-products {
  font-size: 25px;
  margin: 40px 0px;
  color: $purpleDark;
}

@mixin flexCenter ($direction){
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

// Product Section Start --------------->
.product-name {
  font-size: 18px;
  font-weight: bold;
  color: var(--colors-text-purple);
}
.price-container {
  font-size: 19px;
  font-weight: 700;
  color: var(--colors-text-purple-dark);
}
.description-wrapper {
  max-height: 63px;
  overflow: hidden;
  p{
    margin: 0px
  }
}
// Product Section End   --------------->
